*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: fixed;
}

.nav__nameOrg{
    display: inline-block;
    background-color: white;
    width: 100%;
}

.nav__links{
    background-color: #376565;
    border-bottom-left-radius: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
}

.nav__imagen{
    width: 2.0rem;
    height: 1.8rem;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.nav__texto{
    color: white;
    text-decoration: none;
}

#about{
    display: grid;
    height: 100vh;
}

#nosotros{
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    grid-row-gap: 0.5rem;
    justify-items: center;
    align-items: center;
    text-align: center;
}

h1{
    color: #376565;
}

h2{
    color: black;
}

.nosotros__img{
    width: 100%;
    height: 70%;
    display: flex;
    align-self: flex-start;
}

.contenedor__h2{
    display: flex;
    align-items: center;
    justify-items: center;
}

#donaciones{
    border: 1px solid black;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr auto;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.donaciones__detalle{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.donaciones__imagen{
    width: 100%;
    height: 100%;
}

.donaciones__img{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
}

.donaciones__fondos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #C9C1BF;
}

.donaciones__calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donaciones__pag{
    display: flex;
    flex-direction: row;
}

#losPerritos{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    height: 100vh;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.losPerritos__img{
    height: 20rem;
    width: 100%;
}

.losPerritos__event{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.losPerritos__detalles{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #C9C1BF;
}

h2.losPerritos__title{
    width: 100%;

}

.losPerritos__image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2rem;
}

#petShop{
    border: 1px solid black;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 10fr;
    justify-items: center;
    align-items: center;
}

img.petShop__img{
    width: 100%;
    height: 80%;
}

#rendicion{
    border: 1px solid black;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#fotos{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    grid-gap: 1rem;
}

.contenedor__foto{
    display: flex;
}

.imagen__foto{
    width: 100%;
    height: 100%;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 320px) {
    .nav__texto{
        font-size: 0;
    }

    #donaciones{
        grid-template-rows: 1fr 5fr 5fr auto;
    }

    .donaciones__detalle{
        grid-template-columns: 1fr;
    }

    h1{
        font-size: 1rem;
    }
    
    h2{
        font-size: 0.8rem;
    }

    .losPerritos__event{
        display: grid;
        grid-template-columns: 1fr;
    }

    .losPerritos__detalles{
        grid-gap: 1rem;
    }

    #fotos{
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 768px) {
    .nav__texto{
        font-size: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .nav__texto{
        font-size: 1rem;
    }
}






