<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/estilos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Perritos</title>
</head>
<body>
    <nav class="nav">
        <div class="nav__nameOrg">
            <img class="nav__imagen" src="../images/logotipo.jpg" alt="">
        </div>
        <div class="nav__links">
            <a class="nav__texto" href="#nosotros">NOSOTROS</a>
            <a class="nav__texto" href="#donaciones">DONACIONES</a>
            <a class="nav__texto" href="#losPerritos">LOS PERRITOS</a>
            <a class="nav__texto" href="#petShop">PET SHOP</a>
            <a class="nav__texto" href="#rendicion">RENDICIÓN</a>
            <img class="nav__imagen" src="../images/corazonLinea.png" alt="">
        </div>
    </nav>
    <div id="fotos">
        <div class="contenedor__foto" ><img class="imagen__foto" src="../images/perro1.jpg" alt=""></div>
        <div class="contenedor__foto" ><img class="imagen__foto" src="../images/perro2.jpg" alt=""></div>
        <div class="contenedor__foto" ><img class="imagen__foto" src="../images/perro3.jpg" alt=""></div>
        <div class="contenedor__foto" ><img class="imagen__foto" src="../images/perro4.jpg" alt=""></div>
        <div class="contenedor__foto" ><img class="imagen__foto" src="../images/perro5.jpg" alt=""></div>
        <div class="contenedor__foto" ><img class="imagen__foto" src="../images/perro6.jpg" alt=""></div>
    </div>
</body>
</html>